<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<%= form_with(url: users_path, method: :get, local: true) do |f| %>
  <%= f.label "ユーザー名検索", class: "text-label" %>
  <%= f.text_field :name, class: "text-form"  %>
  <%= f.submit "検索" ,class: "btn btn-sm btn-primary" %>
<% end %>


<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-danger btn-sm pull-right" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>